body{
	background-color: #666666;
}

.jumbotron{
	border-radius: 0;
	margin: 0;
}
.container{
	min-height: 45vh;
	padding: 15px 5px;
}
.container p,h2,h3,h4,h5,h6{
	color: #333;
}

.card-header button{
	font-size: 1.2em;
	color: #333;
}